/*=============== VARIABLES CSS ===============*/
:root {
    /* Layout */
    --header-height: 3.5rem;
    --sidebar-width: 288px;
    --sidebar-width-collapsed: 90px;
    
    /* Colors Light Theme */
    --first-color: hsl(228, 85%, 63%);
    --title-color: hsl(228, 18%, 16%);
    --text-color: hsl(228, 8%, 56%);
    --body-color: hsl(228, 100%, 99%);
    --shadow-color: hsla(228, 80%, 4%, .1);
    
    /* Colors Dark Theme */
    --first-color-dark: hsl(228, 70%, 63%);
    --title-color-dark: hsl(228, 18%, 96%);
    --text-color-dark: hsl(228, 12%, 61%);
    --body-color-dark: hsl(228, 24%, 16%);
    --shadow-color-dark: hsla(228, 80%, 4%, .3);
    
    /* Typography */
    --body-font: "Nunito Sans", system-ui;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .75rem;
    
    /* Font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    
    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    
    /* Transitions */
    --transition-base: 0.4s ease;
}

/* Responsive typography */
@media screen and (min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
        --sidebar-width: 316px;
    }
}

/* Dark Theme Variables */
[data-theme="dark"] {
    --first-color: var(--first-color-dark);
    --title-color: var(--title-color-dark);
    --text-color: var(--text-color-dark);
    --body-color: var(--body-color-dark);
    --shadow-color: var(--shadow-color-dark);
}